{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Navigation:
 * - breadcrumb: The breadcrumb trail for the current page.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - messages: Status and error messages. Should be displayed prominently.
 * - tabs: Tabs linking to any sub-pages beneath the current page (e.g., the
 *   view and edit tabs when displaying a node).
 * - action_links: Actions local to the page, such as "Add menu" on the menu
 *   administration interface.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.navigation: Items for the navigation region.
 * - page.navigation_collapsible: Items for the navigation (collapsible) region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 *
 * @ingroup templates
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
<div id="top"></div>
  <div id="fh5co-page">
    <div id="fh5co-main-nav-wrap">
      <nav role="navigation" id="fh5co-nav-slide">
        <div class="fh5co-nav-overlay"></div>
          <div class="fh5co-nav-inner">
            {{  page.primary_menu }}
              <ul class="fh5co-social">
                {% if facebook_url|render is not empty %}
                  <li><a href="{{ facebook_url }}"><i class="fa fa-facebook"></i></a></li>
                {% endif %}
                {% if twitter_url|render is not empty %}
                  <li><a href="{{ twitter_url }}"><i class="fa fa-twitter"></i></a></li>
                {% endif %}
                {% if instagram_url|render is not empty %}
                  <li><a href="{{ instagram_url }}"><i class="fa fa-instagram"></i></a></li>
                {% endif %}  
                {% if linkedin_url|render is not empty %}
                  <li><a href="{{ linkedin_url }}"><i class="fa fa-linkedin"></i></a></li>
                {% endif %}
            </ul>
          </div>  
      </nav>
    </div>    
      <header id="fh5co-header" role="banner" style="background: #2e2e2e url(/themes/yg_sprint/images/bg.jpg);" >
        <div class="container">
          <a href="{{ path('<front>') }}" id="fh5co-header-logo">
            <img src="{{ logopath }}" alt="{{ site_name }}" title="{{ 'Home'|t }}">
          </a>
          <a href="#" class="fh5co-header-bars js-nav-toggle"><span>Menu&nbsp;&nbsp;&nbsp;</span></a>
          <h1 class="fh5co-header-intro">{{ page['#title'] }}</h1>
        </div>
      </header> 
<!-- Navigation End-->

{%  set base_url = url('<front>')  %}
<section id="not-found-section" class="text-center">
  <div class="container">               
    <div class="row"> 
      <div class="not-found-body" >
        <div class="not-title" >
          <h1>403</h1>
          <h2>Access Denied</h2> 
        </div>  
          <h2>Access To The Webpage Was Denied. </h2>
          <p>You are not authorized to access this page. You must login to view this page.</p>      
          <a href="{{ base_url }}" class="btn btn-custom"> Go Home </a>      
      </div>
    </div>          
  </div>    
</section>
 
<footer id="fh5co-footer" role="contentinfo">
        <div class="container">
          <div id="fh5co-subscribe">
            <div class="row">
              <div class="col-md-4 col-md-offset-4">
                {{ page.email_subscribe }}
              </div>
            </div>
          </div>
        </div>        
        <div class="container text-center fh5co-social-container">
          <ul class="fh5co-social">
            {% if facebook_url|render is not empty %}
              <li><a href="{{ facebook_url }}"><i class="ti-facebook"></i> Facebook</a></li>
            {% endif %}
            {% if twitter_url|render is not empty %}
              <li><a href="{{ twitter_url }}"><i class="ti-twitter-alt"></i> Twitter</a></li>
            {% endif %}
            {% if dribbble_url|render is not empty %}
              <li><a href="{{ dribbble_url }}"><i class="ti-dribbble"></i> Dribbble</a></li>
            {% endif %}
            {% if google_plus_url|render is not empty %}
              <li><a href="{{ google_plus_url }}"><i class="ti-google"></i> GooglePlus</a></li>
            {% endif %}
            {% if instagram_url|render is not empty %}
              <li><a href="{{ instagram_url }}"><i class="ti-instagram"></i> Instagram</a></li>
            {% endif %}  
            {% if email|render is not empty %}
              <li><a href="mailto:{{ email }}"><i class="ti-email"></i> Email us</a></li>
            {% endif %}
          </ul>
        </div>
        <div id="fh5co-footer-links">
          <div class="container">
            <div class="row">

              <div class="col-md-3 col-sm-3 col-xs-6 col-xxs-12 col-md-offset-1">
                <h3 class="footer-title">
                  {% if about_title|render is not empty %}{{ about_title }}{% endif %}
                </h3>
                  {% if about_description %}
                    {% autoescape 'html' %}
                      {{ about_description|raw }}
                    {% endautoescape %}
                  {% endif %}
              </div>
              <div class="col-md-2 col-sm-3 col-xs-6 col-xxs-12">
                <div class="footer-links">
                  {{ page.footer_menu }}
                </div>
              </div>
              <div class="col-md-2 col-sm-3 col-xs-6 col-xxs-12">
                {{ page.footer_latest_blog }}
              </div>
            <div class="col-md-3 col-sm-3 col-xs-6 col-xxs-12 col-md-offset-1">
              <h3 class="footer-title">
                {% if contact_title|render is not empty %}{{ contact_title }}{% endif %}
              </h3>
                <div class="footer-links">
                  <address>
                    {% if address %}
                      {% autoescape 'html' %}
                        {{ address|raw }}
                      {% endautoescape %}
                    {% endif %}
                  </address>
                  <p>{% if phone|render is not empty %}{{ phone }}{% endif %}</p>
                  {% if email|render is not empty %}<a href="mailto:{{ email }}">{{ email }}</a>{% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="fh5co-copyright">
          <div class="container">
            <p class="text-center"><small>&copy; 2018. <a href="#">YG Sprint</a>. All Rights Reserved. Designed by <a href="http://freehtml5.co/" target="_blank">FREEHTML5.co</a><br>
              Theme By<a href="https://www.drupaldevelopersstudio.com/" target="_blank"> Drupal Developers Studio</a>, A Division of <a href="http://www.youngglobes.com" target="_blank">Young Globes</a></small></p>
            <p class="text-center">
              <a href="#top" class="smoothscroll back-to-top"><i class="ti-angle-double-up"></i><span>Top</span></a>
            </p>
          </div>

        </div>
      </footer>

    </div>

