/*Main-menu*/
#fh5co-nav-slide {
    background: rgba(0, 0, 0, 0.8);
 }
#fh5co-main-nav-wrap {
    overflow: auto;
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 19;
    height: 100%;
    width: 100%;
}
#fh5co-main-nav-wrap .fh5co-nav-overlay {
    background: rgba(0, 0, 0, 0.8);
    z-index: 20;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
#fh5co-main-nav-wrap #fh5co-main-nav {
    text-align: center;
    padding: 0;
    margin: 30px 0;
    z-index: 1001;
}
#fh5co-main-nav-wrap #fh5co-main-nav li {
    list-style: none;
    padding: 0;
    margin: 0 0 0px 0;
}
#fh5co-main-nav-wrap #fh5co-main-nav li a {
    font-size: 40px;
    font-size: 52px;
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    display: block;
    border: none;
}
#fh5co-main-nav-wrap .fh5co-social {
    color: #ffffff;
    font-size: 20px;
    padding: 30px 0px 10px !important;
    margin: 0;
    text-align: center;
}
#fh5co-main-nav-wrap .fh5co-social li {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}
#fh5co-main-nav-wrap a:hover, #fh5co-main-nav-wrap a:focus {
    color: #067cad !important;
}
 #fh5co-main-nav-wrap .fh5co-social li a {
    padding: 4px 10px !important;
    border: none !important;
}
.fh5co-nav-inner .fh5co-social li a i {
    font-size: 20px;
    color: #08b1f7;
}
#fh5co-main-nav-wrap #fh5co-main-nav li.active a {
    color: #28bbf8;
}
#fh5co-nav-slide .fh5co-nav-inner {
    overflow-y: hidden;
}
.portfolio-owl-carousel .owl-controls {
    display: none;
}
.fh5co-section-contact {
    padding: 0px 0px 50px 0px;
}
.fh5co-section-contact h2 {
    font-weight: 500;
}
.fh5co-section-contact p {
    margin-bottom: 30px;
    line-height: 1.7;
    font-weight: 500;
    color: #7b7b7b;
}
.ti-angle-right:before {
    content: "\e649";
    font-weight: 900;
}
body.nav-active {
    overflow: hidden;
}
a.fh5co-header-bars.js-nav-toggle span:after {
    content: "\f0c9";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #fff;
    font-size: 17px;
    color: #fff;
    font-size: 20px;
    position: relative;
}
a.fh5co-header-bars.js-nav-toggle.active span:after{
    content: "\f00d";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #fff;
    font-size: 17px;
    color: #fff;
    font-size: 20px;
    position: relative;
}
.pb-lg.blog-details-content {
    padding: 0em !important;
}
.blog-details {
    padding: 3em 0em 0em 0em !important;
}
.rsb figure img {
    float: left;
    margin-bottom: 1.5em;
    width: 100%;
}
.region.region-footer-menu h2#block-footer-menu {
    margin-bottom: .5em;
    line-height: 1.5;
    font-weight: 500;
    font-size: 18px;
}
.fh5co-section-contact .phone{
    color: #d13f19;
    text-decoration: none;
    cursor: pointer;
}
.fh5co-section-contact .phone:hover{
    color: #8eb6c5;
}
h3.fh5co-side-title.fh5co-heading-uppercase.text-left {
    font-size: 14px;
}
div#block-webform h2 {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: .3em;
    text-align: center;
    line-height: 1.5;
    margin-bottom: 2em;
}
.contextual-region {
    position: unset;
}
.region-sidebar-first ul.menu {
    list-style: none outside;
    margin-left: 0px; 
    padding: 0;
    text-align: left;
}
.region-sidebar-first h2#block-footer-2-menu {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: .3em;
    line-height: 1.5;
    color: #7b7b7b;
    font-weight: 400;
    margin-bottom: 20px;
}
.region-sidebar-first ul li {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 18px;
}
.region-sidebar-first ul li a {
    float: left;
    width: 100%;
    border-bottom: 1px solid #ebebeb;
    padding: .5em 0;
}  
.webform-submission-email-subscribe-form input#edit-actions-submit,.webform-submission-email-subscribe-form input#edit-actions-submit--2 {
    /*border-radius: 50%;
    background: #87B6C4;*/
    background: url(../images/right-arrow.png) no-repeat;
    float: right;
    position: relative;
    bottom: 61px;
    border: none;
    height: 50px;
    width: 50px;
    
}
.webform-submission-email-subscribe-form .form-control:focus, 
.webform-submission-email-subscribe-form .form-control:active{
    box-shadow: none;
    border: 2px solid #87b6c4;
}
/*.webform-submission-email-subscribe-form .ti-arrow-right:before {
    content: "\e628";
    float: right;
    position: relative;
    right: 29px;
    bottom: 55px;
    z-index: 1;
    color: #fff;
}*/
.btn-subscribe:after{
    content: "\f061";
    font-family: FontAwesome;
    font-style: normal;
    position: relative;
    right: 29px;
    bottom: 55px;
    z-index: 1;
    color: #fff;
    font-weight: 20px;
}
/* Page not found */
#not-found-section {
    padding: 50px 0px 100px;
}
.not-found-body {
    max-width: 70%;
    margin: auto;
}
.not-found-body h2 {
    font-size: 25px;
    font-weight: 600;
}
.not-title {
    border: 2px solid #d13f19;
    padding: 10px 50px 30px 50px;
    width: 50%;
    margin: auto;
    margin-bottom: 40px;
    border-radius: 10px;
}
.not-title h1 {
    font-size: 125px;
    margin: 0px;
    color: #d13f19;
}
.not-title h2 {
    font-size: 25px;
    margin: 0px;
    color: #d13f19;
}
#not-found-section a.btn.btn-custom{
    background: #87b6c4;
    color: #fff;
    border: none;
    box-shadow: none;
    border-radius: 30px;
    font-weight: 600!important;
    position: relative;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    padding: 7px 20px;
}
#not-found-section a.btn.btn-custom:hover{
    background-color: #d13f19;
    border-color: #d13f19 !important;
    color: #fff !important;
    transition: 0.7s;
}
@media (min-width: 320px) and (max-width: 480px){
.not-title h1 {
    font-size: 92px !important;
    margin: 0px !important;
    color: #d13f19 !important;
}
.not-title h2 {
    font-size: 22px !important;
    margin: 0px !important;
    color: #d13f19 !important;
}
.not-title {
    border: 2px solid #d13f19 !important;
    padding: 10px 50px 30px 50px !important;
    width: 100% !important;
    margin: auto !important;
    margin-bottom: 40px !important;
    border-radius: 10px !important;
}
}
@media (min-width: 481px) and (max-width: 768px) {
.not-title h1 {
    font-size: 92px !important;
    margin: 0px !important;
    color: #d13f19 !important;
}
.not-title h2 {
    font-size: 22px !important;
    margin: 0px !important;
    color: #d13f19 !important;
}
.not-title {
    border: 2px solid #d13f19 !important;
    padding: 10px 50px 30px 50px !important;
    width: 100% !important;
    margin: auto !important;
    margin-bottom: 40px !important;
    border-radius: 10px !important;
}
}
@media (min-width: 768px) and (max-width: 992px) {
.not-title h1 {
    font-size: 92px !important;
    margin: 0px !important;
    color: #d13f19 !important;
}
.not-title h2 {
    font-size: 22px !important;
    margin: 0px !important;
    color: #d13f19 !important;
}
.not-title {
    border: 2px solid #d13f19 !important;
    padding: 10px 50px 30px 50px !important;
    width: 70% !important;
    margin: auto !important;
    margin-bottom: 40px !important;
    border-radius: 10px !important;
}
}
/* End page not found*/

/* User login form css*/
#user-login {
  max-width: 40%;
  margin: auto;
  padding: 20px 0px 40px;
  border: 2px solid #f5f5f5;
  margin-bottom: 70px;
  margin-top: 160px;
  overflow: hidden;
}
.login-text .form-group input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}
.login-text a {
  color: #f91546;
}
.login-button input {
    background: #87b6c4;
    color: #fff;
    border: none;
    box-shadow: none;
    border-radius: 30px;
    font-weight: 300!important;
    position: relative;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    padding: 2px 25px;
}
.login-button input:hover {
    background-color: #d13f19;
    border-color: #d13f19 !important;
    color: #fff !important;
    transition: 0.7s;
}
.login-button , #user-register-form .form-actions ,#user-pass .form-actions{
  text-align: center;
}

#user-register-form , #user-pass{
  max-width: 50%;
  margin: auto;
  margin-top: 150px;
  margin-bottom: 40px;
  border: 2px solid #f5f5f5;
  padding: 20px 20px 40px;
  overflow: hidden;
}

#user-register-form .js-form-item {
  margin-bottom: 20px !important;
}

#user-register-form .js-form-item input, #user-pass .js-form-item input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}

#user-register-form .form-actions input , #user-pass .form-actions input {
    background: #87b6c4;
    color: #fff;
    border: none;
    box-shadow: none;
    border-radius: 30px;
    font-weight: 300!important;
    position: relative;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    padding: 2px 25px;
}
#user-register-form .form-actions input:hover , #user-pass .form-actions input:hover {
    background-color: #d13f19;
    border-color: #d13f19 !important;
    color: #fff !important;
    transition: 0.7s;
}
summary {
    font-size: 16px;
}
#user-register-form .form-actions label , #user-pass .form-actions label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 4px;
    font-weight: bold;
    font-size: 17px;
}
@media only screen and (max-width: 610px) {

#user-login {
  max-width: 95% !important;
  margin: auto;
  padding: 20px 0px 40px;
  border: 2px solid #f5f5f5;
  margin-bottom: 40px;
  margin-top: 20px;
  overflow: hidden;
}

#user-register-form , #user-pass{
  max-width: 95% !important;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  border: 2px solid #f5f5f5;
  padding: 20px 20px 40px;
  overflow: hidden;
}
}

@media (min-width: 768px) and (max-width: 992px) {

#user-login {
  max-width: 95% !important;
  margin: auto;
  padding: 20px 0px 40px;
  border: 2px solid #f5f5f5;
  margin-bottom: 40px;
  margin-top: 20px;
  overflow: hidden;
}

#user-register-form , #user-pass{
  max-width: 95% !important;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  border: 2px solid #f5f5f5;
  padding: 20px 20px 40px;
  overflow: hidden;
}
}
/* End  User login form css*/
@media (min-width: 768px) and (max-width: 1300px) {
.fh5co-main-service {
    margin-bottom: 2em;
    float: left;
    width: 100%;
    height: 350px;
}
}